<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Propiedades de conexión a la base de datos -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:4400/Northwind</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping resource="ProductsEntity.hbm.xml"/>
        <mapping class="org.example.model.ProductsEntity"/>
    </session-factory>
</hibernate-configuration>
